<div class="mb-5">
  <%= render "shared/home_btn" %>
</div>
<div class="hstack">
  <h1><%= @event.title %></h1>
  <% if @is_creator %>
    <div class="ms-auto">
      <div class="dropdown">
        <button class="btn btn-light btn-sm" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          <i class="bi bi-three-dots"></i>
        </button>
        <ul class="dropdown-menu dropdown-menu-end">
          <li>
            <%= link_to "Edit", edit_event_path(@event), class: "dropdown-item" %>
          </li>
          <li>
            <%= button_to "Delete", @event, method: :delete, class: "dropdown-item" %>
          </li>
        </ul>
      </div>
    </div>
  <% end %>
</div>
<hr>
<section class="hstack gap-3 align-items-center">
  <div class="hstack">
    <i class="bi bi-person me-2"></i>
    <p class="my-0"><%= @event.creator.full_name %></p>
  </div>
  <div class="vr"></div>
  <div>
    <i class="bi bi-calendar-check me-2"></i>
    <time datetime="<%= @event.date %>"><%= @event.date.strftime("%d %b %Y")%></time>
  </div>
  <div class="vr"></div>
  <div>
    <i class="bi bi-geo-alt me-2"></i>
    <address class="d-inline-block m-0"><%= @event.location %></address>
  </div>
</section>
<% if user_signed_in? && !@is_creator  %>
  <section class="mt-5">
    <% if @already_attendee %>
      <%= button_to "Remove me from the attendents list", @event_attendance, method: :delete, params: { event_id: @event.id } ,class: "btn btn-outline-danger" %>
    <% else %>
      <%= form_with model: @event_attendance do |f| %>
        <%= f.hidden_field :event_id, value: @event.id %>
        <%= f.submit "Attend the event", class: "btn btn-dark" %>
      <% end %>
    <% end %>
  </section>
<% end %>
<% if !@event.extra_information.empty? %>
  <section class="mt-5">
    <h2>Information</h2>
    <p><%= @event.extra_information %></p>
  </section>
<% end %>
<section class="mt-5">
  <%= render "attendees_list", attendees: @event.attendees %>
</section>